@tailwind base;
@tailwind components;
@tailwind utilities;

/*
By default, we want a light blue background. We unfortunately can not set that
locally in the Main.elm file.
*/
body {
    background-color: #E1F5FE;
}